@charset "utf-8";


/**************************************************************
* 全体設定
**************************************************************/

/* html, body
**************************************************************/
html,
body
{
  color: var(--base-font-color);
  font-size: var(--base-font-size);
  font-family: var(--base-font-family);
  background-color: var(--base-bg-color);
}

/* img
**************************************************************/
img {
  width: 100%;
  height: auto;
}
@media (hover: hover) {
  a img {
    transition: opacity, var(--transition-speed);
  }
  a:not(.u-not-hover):hover img {
    opacity: var(--opacity-degree);
  }
}


/* xxx
********************************/

@media all and (min-width: 768px) {}
@media all and (max-width: 767px) {}


/**************************************************************
* g-container__inner
**************************************************************/


/**************************************************************
* g-header
**************************************************************/
.g-header-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 8rem;
  height: 100vh;
}
.g-header {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  background-color: var(--main-01-bg-color);
}
@media all and (min-width: 768px) {
  .g-header-container {
    
  }
}


/* g-header-contents
**************************************************************/
.g-header-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  min-height: 56rem;
  padding: 3rem 0;
}

/* g-header-head
**************************************************************/
.g-header-head {
  margin-bottom: 4rem;
}

/**************************************************************
* g-footer
**************************************************************/
.g-footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: calc(100vw);
}
.g-footer {
  background-color: var(--main-01-bg-color);
}
@media all and (min-width: 768px) {
}
@media all and (max-width: 767px) {
}


/* g-footer-copyright
**************************************************************/
.g-footer-copyright {
  padding: 2.5rem 0;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

/**************************************************************
* g-nav
**************************************************************/
.g-nav-container {
  display: flex;
  align-items: end;
  margin: 0 0 14rem 0;
}


/* list__item
**************************************************************/
.g-nav .list__item {
  width: 4rem;
  height: 4rem;
  margin-left: auto;
  margin-right: auto;
}
.g-nav .list__item:nth-child(n + 2) {
  margin-top: 2rem;
}

/* item__link
********************************/
.g-nav .item__link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

/* item__icon
********************************/
.g-nav .item__icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 100%;
  background-color: #fff;
}
.g-nav .item__icon svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-nav .item__link:hover .item__icon path {
  transition: fill var(--transition-speed);
}
@media all and (min-width: 768px) {}
@media all and (max-width: 767px) {}
@media (hover: hover) {
  .g-nav .item__link:hover .item__icon path {
    fill: var(--main-01-bg-color);
  }
}


/**************************************************************
* g-menu
**************************************************************/
.g-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 22rem;
  height: 100vh;
  margin-left: 8rem;
}
.g-menu {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  padding: 0 3rem 9rem;
  background-color: #F2F3F7;
}


/* g-menu
**************************************************************/

/* g-menu-list
********************************/

/* list__item
********************************/
.g-menu .list__item {
  margin-top: 3rem;
}

/* item__blk-container
********************************/
.g-menu .item__blk-container + .item__blk-container {
  margin-top: 2rem;
}

/* item__blk
********************************/
.g-menu .item__blk + .item__blk {
  margin-top: 2rem;
}

/* item__contents-inner
********************************/
.g-menu .item__contents-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* item__main-ttl
********************************/
.g-menu .item__main-ttl {
  width: calc(100% - 2rem - 2rem);
  margin-right: 2rem;
  color: var(--nav-line-color);
  font-size: 1.4rem;
  font-weight: bold;
  word-break: break-word;
}
.g-menu .item__main-ttl.--sm {
  font-size: 1rem;
}
.g-menu .item__main-ttl.--st {
  color: #000;
}

/* item__main-icon
********************************/
.g-menu .item__main-icon {
  width: 2rem;
  height: 2rem;
}
.g-menu .item__main-icon path,
.g-menu .item__main-icon rect
{
  transition: fill var(--transition-speed);
}
.g-menu .item__main-icon svg {
  width: 100%;
  height: 100%;
}
@media (hover: hover) {
  .g-menu .item__main-icon:hover path,
  .g-menu .item__main-icon:hover rect
  {
    fill: var(--main-01-bg-color);
  }
}

/* g-menu-sub-list
**************************************************************/
.g-menu-sub-list {
  position: relative;
}

/* sub-list__item
********************************/
.g-menu-sub-list .sub-list__item {
  cursor: pointer;
}
.g-menu-sub-list .sub-list__item:nth-child(n + 2) {
  position: relative;
  padding-top: 2rem;
}
.g-menu-sub-list .sub-list__item:nth-child(n + 2)::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: .1rem;
  height: 100%;
  margin: -.9rem 0 0 4rem;
  background-color: var(--nav-line-color);
  transition: background-color var(--transition-speed);
}
@media (hover: hover) {
  .g-menu-sub-list .sub-list__item:hover::before {
    background-color: var(--main-01-bg-color);
  }
}

/* item__icon
********************************/
.g-menu-sub-list .item__icon {
  width: 2rem;
  height: 2rem;
}
.g-menu-sub-list .item__icon path,
.g-menu-sub-list .item__icon rect
{
  transition: fill var(--transition-speed);
}
@media (hover: hover) {
  .g-menu-sub-list:hover .item__icon path,
  .g-menu-sub-list:hover .item__icon rect
  {
    fill: var(--main-01-bg-color);
  }
}

/* item__ttl
********************************/
.g-menu-sub-list .item__ttl {
  position: relative;
  width: calc(100% - 2rem - 4rem);
  margin-left: 4rem;
  color: var(--nav-line-color);
  font-size: 1.4rem;
  font-weight: bold;
  word-break: break-word;
}
.g-menu-sub-list .sub-list__item:nth-child(n + 2) .item__ttl {
}
.g-menu-sub-list .item__ttl::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: var(--nav-line-color);
  transition: background-color var(--transition-speed);
}
.g-menu-sub-list .item__ttl::before {
  width: 1rem;
  height: .1rem;
  margin: 8px 0 0 -2rem;
}
.g-menu-sub-list .sub-list__item:first-child .item__ttl::before {
  width: 2rem;
  margin-left: -3rem;
}
.g-menu-sub-list .sub-list__item:not(:first-child) .item__ttl::before {
  
}
@media (hover: hover) {
  .g-menu-sub-list .sub-list__item:hover .item__ttl::before {
    background-color: var(--main-01-bg-color);
  }
}

/* item__link
********************************/
.g-menu-sub-list .item__link {
  display: block;
  transition: color var(--transition-speed);
}
@media (hover: hover) {
  .g-menu-sub-list .item__link:hover {
    color: var(--main-01-bg-color);
  }
}


/**************************************************************
* g-page-head
**************************************************************/
.g-page-head {
  padding: 3rem 0;
  border-bottom: .1rem solid #F4F4FB;
}

/* g-page-head__contents
**************************************************************/
.g-page-head__contents {
  width: 65%;
}

/* g-page-head__pageName
**************************************************************/
.g-page-head__pageName {}

/* g-page-head__pageDes
**************************************************************/
.g-page-head__pageDes {
  padding-bottom: 0;
}


/**************************************************************
* g-apis
**************************************************************/
.g-apis {
  display: flex;
  justify-content: end;
  width: calc(100% - 65%);
}

/**************************************************************
* g-page-main
**************************************************************/
.g-page-main {
  padding: 4rem 0 9rem;
  min-height: 500px;
}


/**************************************************************
* g-page-mainTtl
**************************************************************/
.g-page-mainTtl {
  margin: 0 0 4rem;
}


/**************************************************************
* Debug
**************************************************************/
pre {
  font-size: 1.6rem;
}
.debug-mode .g-header-container,
.debug-mode .g-menu-container
{
  display: none;
}