@charset "utf-8";

/**************************************************************
* c-section
**************************************************************/
@media all and (min-width: 768px) {
}
@media all and (max-width: 767px) {
}


/**************************************************************
* c-contents-outer
**************************************************************/
.c-contents-outer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}
@media all and (min-width: 768px) {
  .c-contents-outer {}
}
@media all and (max-width: 767px) {
}

/* --g-header
**************************************************************/
.c-contents-outer.--g-header {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
@media all and (min-width: 768px) {}


/* --g-footer
**************************************************************/
.c-contents-outer.--g-footer {
  width: 100%;
}


/* --g-menu
**************************************************************/
.c-contents-outer.--g-menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

/**************************************************************
* c-contents-inner
**************************************************************/
.c-contents-inner {
  margin-left: auto;
  margin-right: auto;
}
@media all and (min-width: 768px) {
  .c-contents-inner {
    width: 100%;
    min-width: 64rem;
  }
}
@media all and (max-width: 767px) {
  .c-contents-inner {
    width: 100%;
  }
}


/* --g-header
**************************************************************/
.c-contents-inner.--g-header {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  min-width: initial;
  height: 100%;
}


/* --g-page-head
**************************************************************/
.c-contents-inner.--g-page-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/**************************************************************
* c-home-icon
**************************************************************/
.c-home-icon {
  width: 5.6rem;
  margin-left: auto;
  margin-right: auto;
}

/* c-home-icon__icon
**************************************************************/
.c-home-icon__icon {
  display: block;
  width: 100%;
}
.c-home-icon svg {
  width: 100%;
  height: 100%;
}
.c-home-icon .c-home-icon__icon:hover path {
  transition: fill var(--transition-speed);
}
@media all and (min-width: 768px) {}
@media (hover: hover) {
  .c-home-icon__icon:hover path {
    fill: #007E66;
  }
}


/**************************************************************
* c-head-lv
**************************************************************/

/* c-head-lv-1
**************************************************************/
.c-head-lv-1 {
  font-size: 1.6rem;
  font-weight: bold;
}


/* c-head-lv-2
**************************************************************/
.c-head-lv-2 {
  font-size: 1.6rem;
  font-weight: bold;
}


/**************************************************************
* c-lead
**************************************************************/
.c-lead {
  padding: 2rem 0;
}

/* c-lead-txt
**************************************************************/
.c-lead-txt {
  font-size: 1.6rem;
  line-height: 1.5;
}


/**************************************************************
* c-infoList-blkContents
**************************************************************/
@media all and (min-width: 1361px) {
  .c-infoList-blkContents {
    display: flex;
    flex-wrap: wrap;
  }
}

/* c-infoList-blk
**************************************************************/
@media all and (min-width: 1361px) {
  .c-infoList-blkContents .c-infoList-blk {
    width: 44.444%;
  }
  .c-infoList-blkContents .c-infoList-blk + .c-infoList-blk {
    margin-left: 7.407%;
  }
}
@media all and (min-width: 768px) and (max-width: 1360px) {
  .c-infoList-blkContents .c-infoList-blk+.c-infoList-blk {
    margin-top: 12%;
  }
}
@media all and (max-width: 767px) {}


/* c-infoList-container
**************************************************************/


/* c-infoList
**************************************************************/
.c-infoList {
  padding: 1rem 0 3rem;
}

/* list__item
********************************/
.c-infoList .list__item {
  border-bottom: .1rem solid #F8F8F8;
}

/* item__contents
********************************/
.c-infoList .item__contents {
  display: flex;
  flex-wrap: wrap;
}

/* item__link
********************************/
.c-infoList .item__link {
  display: block;
  padding: 2rem 0;
}

/* item__date
********************************/
.c-infoList .item__date {
  width: 10rem;
  margin-right: 1rem;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* item__des
********************************/
.c-infoList .item__des {
  width: calc(100% - 10rem - 1rem);
  font-size: 1.6rem;
  line-height: 1.5;
}



/**************************************************************
* c-btn-container
**************************************************************/

/* c-btn
**************************************************************/
.c-btn {
  width: 16rem;
  margin-left: auto;
  margin-right: auto;
}

/* c-btn__link
********************************/
.c-btn .c-btn__link {
  display: block;
  padding: 1.6rem 1rem;
  text-align: center;
  border: .1rem solid #007E66;
  background-color: #007E66;
  transition: all var(--transition-speed);
}
@media (hover: hover) {
  .c-btn__link:hover {
    border-color: #404040;
    background-color: #404040;
  }
}


/* c-btn__lbl
********************************/
.c-btn .c-btn__lbl {
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  transition: color var(--transition-speed);
}


/**************************************************************
* c-submit-btn-outer
**************************************************************/
.c-submit-btn-outer {
  display: flex;
  flex-wrap: wrap;
}

/* c-submit-btn-container
**************************************************************/
.c-submit-btn-container {
  margin-left: auto;
  margin-right: auto;
}
@media all and (min-width: 768px) {
  .c-submit-btn-container {
    width: 41.198%;
    max-width: 33rem;
  }
}
@media all and (max-width: 767px) {
  .c-submit-btn-container {
    width: 45.198%;
  }
  .--col-1 .c-submit-btn-container {
    width: 70%;
  }
}

/* c-submit-btn
**************************************************************/
.c-submit-btn {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  border: .1rem solid #007E66;
  background-color: #007E66;
  transition: background-color var(--transition-speed);
}
.c-submit-btn::before,
.c-submit-btn::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  transition: width var(--transition-speed);
}
.c-submit-btn::before {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  height: .1rem;
  margin: auto 1.6rem auto 0;
}
.c-submit-btn::after {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  height: .1rem;
  margin: auto 1.6rem auto 0;
}
.c-submit-btn-container.--prev .c-submit-btn::before {
  left: 0;
  right: auto;
  margin: auto 0 auto 1.6rem;
}
.c-submit-btn-container.--prev .c-submit-btn::after {
  left: 0;
  right: auto;
}
.c-submit-btn:disabled {
  opacity: .5;
}
@media all and (min-width: 768px) {
  .c-submit-btn {
    padding: 2rem 0;
  }
  .c-submit-btn::before {
    width: 4rem;
  }
  .c-submit-btn::after {
    width: 1.6rem;
    transform: translate(2px, -6px) rotate(45deg);
  }
  .c-submit-btn-container.--prev .c-submit-btn::after {
    transform: translate(14px, -6px) rotate(-45deg);
  }
}
@media all and (max-width: 767px) {
  .c-submit-btn {
    padding: 1rem 0;
  }
  .c-submit-btn::before {
    width: 2rem;
  }
  .c-submit-btn::after {
    width: .8rem;
  }
  .c-submit-btn-container .c-submit-btn::after {
    transform: translate(.1rem, -.3rem) rotate(45deg);
  }
  .c-submit-btn-container.--prev .c-submit-btn::after {
    transform: translate(1.5rem, -.3rem) rotate(-45deg);
  }
}
@media (hover: hover) {
  .c-submit-btn:not(:disabled):hover {
    border-color: #6C6C6C;
    background-color: #6C6C6C;
  }
  .c-submit-btn:not(:disabled):hover::before {
    width: 0;
  }
  .c-submit-btn:not(:disabled):hover::after {
    width: 0;
  }
}

/* c-submit-btn__lbl
********************************/
.c-submit-btn__lbl {
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
}
@media all and (min-width: 768px) {
}
@media all and (max-width: 767px) {
}



/**************************************************************
* c-recordList-container
**************************************************************/
.c-recordList-container {
  margin-top: 2rem;
}

/* list__item
**************************************************************/
.c-recordList .list__item {
  border-bottom: .1rem solid #F8F8F8;
}

/* item__link
**************************************************************/
.c-recordList .item__link {
  display: block;
  transition: background-color var(--transition-speed);
}
@media (hover: hover) {
  .c-recordList .--public .item__link:hover {
    background-color: #E5FBE9;
  }
  .c-recordList .--private .item__link:hover {
    background-color: #FBE5E5;
  }
}


/* item__contents
**************************************************************/
.c-recordList .item__contents {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

/* item__status
**************************************************************/
.c-recordList .item__status {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: 7rem;
  margin-right: 2rem;
}

/* item__status-icon
********************************/
.c-recordList .item__status-icon {
  display: block;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  border-radius: 100%;
  
}
.c-recordList .item__status-icon.--public {
  background-color: #007E66;
}
.c-recordList .item__status-icon.--private {
  background-color: #AD2D27;
}

/* item__status-txt
********************************/
.c-recordList .item__status-txt {
  font-size: 1.4rem;
  font-weight: bold;
}

/* item__rows
**************************************************************/
.c-recordList .item__rows {
  display: flex;
  align-items: center;
  width: calc(100% - 7rem - 2rem);
}

/* item__row
********************************/
.c-recordList .item__row {

}
.c-recordList .item__rows .item__row:nth-child(n + 2) {
  margin-left: 2rem;
}
.c-recordList .item__row-txt {
  font-size: 1.4rem;
}


/* c-recordList-icon-list
**************************************************************/
.c-recordList-icon-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  margin-bottom: 3rem;
}

/* list__item
********************************/
.c-recordList-icon-list .list__item {
  display: block;
  position: relative;
  width: 4rem;
  height: 4rem;
}

/* item__link
********************************/
.c-recordList-icon-list .item__link {
  display: block;
  width: 100%;
  height: 100%;
}

/* item__icon
********************************/
.c-recordList-icon-list .item__icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.c-recordList-icon-list .item__icon svg {
  width: 100%;
  height: 100%;
}
.c-recordList-icon-list .item__link:hover path,
.c-recordList-icon-list .item__link:hover rect
{
  transition: fill var(--transition-speed);
}
@media (hover: hover) {
  .c-recordList-icon-list .item__link:hover path,
  .c-recordList-icon-list .item__link:hover rect
  {
    fill: #007E66;
  }
}


/**************************************************************
* c-annouceList-container
**************************************************************/
.c-annouceList-container {
}


/* c-annouceList
**************************************************************/
.c-annouceList {
  list-style-type: disclosure-closed;
  padding: 4rem;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 1rem;
  background-color: #009e7f;
}


/* list__item
**************************************************************/
.c-annouceList .list__item {}
.c-annouceList .list__item:nth-child(n + 2) {
  margin-top: 2rem;
}

/* item__des
**************************************************************/
.c-annouceList .item__des {
  position: relative;
  line-height: 1.5;
}

/* item__mark
********************************/
.c-annouceList .item__mark {
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 1rem;
}

/* item__des-inner
********************************/
.c-annouceList .item__mark + .item__des-inner {
  padding-left: 2rem;
}


/**************************************************************
* c-step-list-container
**************************************************************/
.c-step-list-container {
  display: flex;
  align-items: center;
}


/* c-step-ttl
**************************************************************/
.c-step-ttl {
  color: var(--main-01-bg-color);
  margin-right: 2rem;
  font-size: 1.6rem;
  font-weight: bold;
}

/* c-step-list
**************************************************************/
.c-step-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


/* list__item
**************************************************************/
.c-step-list .list__item {
  position: relative;
}
.c-step-list .list__item:nth-child(2) {
  margin: 1rem 0 0 1.6rem;
}
.c-step-list .list__item.--current {
}
.c-step-list .list__item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: .1rem;
  height: 2rem;
  margin: 0 0 2rem -.6rem;
  background-color: var(--main-01-bg-color);
  transform: rotate(30deg);
}
.c-step-list .list__item:nth-child(1)::before {
  display: none;
}

/* item__contents
**************************************************************/

/* item__num
**************************************************************/
.c-step-list .item__num {
  padding: 2rem 0;
  color: var(--main-01-bg-color);
  text-align: center;
}
.c-step-list .item__num-num {
  font-size: 1.6rem;
  font-weight: bold;
}
.c-step-list .--current .item__num-num {
  font-size: 2.8rem;
}


/**************************************************************
* c-switch-contents
**************************************************************/
@media all and (min-width: 768px) {
  .c-switch-contents {
    padding: 4rem 0;
  }
}
@media all and (max-width: 767px) {
  .c-switch-contents {
    padding: 4rem 2rem;
  }
}