RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.cms\.liqsyst\.com [NC]
RewriteRule (.*) https://cms.liqsyst.com/$1 [R=301,L]
RewriteCond %{HTTPS} off
RewriteRule (.*) https://cms.liqsyst.com/$1 [R=301,L]

AuthType Basic
AuthName "Secret Area"
AuthUserFile /home/xs770977/liqsyst.com/public_html/cms/.htpasswd
require valid-user
