@charset "utf-8";


/**************************************************************
* l-main-whole-wrapper
**************************************************************/
.l-main-whole-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
@media all and (min-width: 768px) {}
@media all and (max-width: 767px) {}


/**************************************************************
* l-config-wrapper
**************************************************************/
.l-config-wrapper {
  width: 30rem;
}
@media all and (min-width: 768px) {}
@media all and (max-width: 767px) {}


/**************************************************************
* l-main-wrapper
**************************************************************/
.l-main-wrapper {
  width: calc(100vw - 30rem);
}
@media all and (min-width: 768px) {}
@media all and (max-width: 767px) {}